/* ************************ tag selectors ************************** */
body {
  margin: 0;
  display: block;
  text-align: center;
  background-color: #dfddc7;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Parisienne', cursive;
  font-size: 250%;
}

h2 {
  font-family: 'Montserrat', cursive;
}

h3 {
  font-family: 'Montserrat', cursive;
}

/************** class tags ***********************************/
.container {
  display: inline;
  position: relative;
  top: 100px;
}

.bottom-right {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 30%;
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 250%;
  margin: auto;
}

.front-pic{
  width: 50%;
}
